.top {
    grid-area: top;
    border-radius: 8px;
}

.footer {
    grid-area: footer;
    border-radius: 8px;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "top"
        "footer";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-gap: 8px;
}